@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #FFFFFF;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5.625rem;
  width: 100%;
  max-width: 26.875rem;
  font-weight: 700;
  line-height: 1.2222222222;
  text-transform: uppercase;
  background-color: #151515;
  color: #FFFFFF;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@supports (padding-top: clamp( 0.875rem , 0.675rem  +  1vw , 1.4375rem )) {
  .button {
    padding-top: clamp( 0.875rem , 0.675rem  +  1vw , 1.4375rem );
  }
}

@supports not (padding-top: clamp( 0.875rem , 0.675rem  +  1vw , 1.4375rem )) {
  .button {
    padding-top: calc(0.875rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 0.875rem , 0.675rem  +  1vw , 1.4375rem )) {
  .button {
    padding-bottom: clamp( 0.875rem , 0.675rem  +  1vw , 1.4375rem );
  }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.675rem  +  1vw , 1.4375rem )) {
  .button {
    padding-bottom: calc(0.875rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-left: clamp( 2.5rem , 0.9rem  +  8vw , 7rem )) {
  .button {
    padding-left: clamp( 2.5rem , 0.9rem  +  8vw , 7rem );
  }
}

@supports not (padding-left: clamp( 2.5rem , 0.9rem  +  8vw , 7rem )) {
  .button {
    padding-left: calc(2.5rem + 4.5 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-right: clamp( 2.5rem , 0.9rem  +  8vw , 7rem )) {
  .button {
    padding-right: clamp( 2.5rem , 0.9rem  +  8vw , 7rem );
  }
}

@supports not (padding-right: clamp( 2.5rem , 0.9rem  +  8vw , 7rem )) {
  .button {
    padding-right: calc(2.5rem + 4.5 * (100vw - 20rem) / 56.25);
  }
}

@supports (font-size: clamp( 1.625rem , 1.4027777778rem  +  1.1111111111vw , 2.25rem )) {
  .button {
    font-size: clamp( 1.625rem , 1.4027777778rem  +  1.1111111111vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.4027777778rem  +  1.1111111111vw , 2.25rem )) {
  .button {
    font-size: calc(1.625rem + 0.625 * (100vw - 20rem) / 56.25);
  }
}

.button.button-seondary {
  border: 0.0625rem solid #0066FF;
  background-color: transparent;
  color: #0066FF;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.3125;
  min-height: 1.5625rem;
  text-transform: none;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@supports (padding-left: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem )) {
  .button.button-seondary {
    padding-left: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem );
  }
}

@supports not (padding-left: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem )) {
  .button.button-seondary {
    padding-left: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-right: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem )) {
  .button.button-seondary {
    padding-right: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem );
  }
}

@supports not (padding-right: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem )) {
  .button.button-seondary {
    padding-right: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.25);
  }
}

@supports (font-size: clamp( 0.9375rem , 0.9152777778rem  +  0.1111111111vw , 1rem )) {
  .button.button-seondary {
    font-size: clamp( 0.9375rem , 0.9152777778rem  +  0.1111111111vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.9152777778rem  +  0.1111111111vw , 1rem )) {
  .button.button-seondary {
    font-size: calc(0.9375rem + 0.0625 * (100vw - 20rem) / 56.25);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 3.125rem , 2.1027777778rem  +  5.1111111111vw , 6rem )) {
  .title {
    font-size: clamp( 3.125rem , 2.1027777778rem  +  5.1111111111vw , 6rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 2.1027777778rem  +  5.1111111111vw , 6rem )) {
  .title {
    font-size: calc(3.125rem + 2.875 * (100vw - 20rem) / 56.25);
  }
}

.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125;
  color: #151515;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  min-height: 3.125rem;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@supports (padding-top: clamp( 1.375rem , 0.975rem  +  2vw , 2.5rem )) {
  .header {
    padding-top: clamp( 1.375rem , 0.975rem  +  2vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.375rem , 0.975rem  +  2vw , 2.5rem )) {
  .header {
    padding-top: calc(1.375rem + 1.125 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 1.375rem , 0.975rem  +  2vw , 2.5rem )) {
  .header {
    padding-bottom: clamp( 1.375rem , 0.975rem  +  2vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.375rem , 0.975rem  +  2vw , 2.5rem )) {
  .header {
    padding-bottom: calc(1.375rem + 1.125 * (100vw - 20rem) / 56.25);
  }
}

._black .header {
  background-color: #151515;
}

.header._header-scroll {
  background-color: rgba(0, 0, 0, 0.8);
}

@supports (padding-top: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem )) {
  .header._header-scroll {
    padding-top: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem )) {
  .header._header-scroll {
    padding-top: calc(1.25rem + 0.3125 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem )) {
  .header._header-scroll {
    padding-bottom: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem )) {
  .header._header-scroll {
    padding-bottom: calc(1.25rem + 0.3125 * (100vw - 20rem) / 56.25);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  position: relative;
  z-index: 6;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports (gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) {
  .header__menu {
    gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) {
  .header__menu {
    gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem );
       -moz-column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem );
            column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem )) or (column-gap: clamp( 1.25rem , 0.9166666667rem  +  1.6666666667vw , 2.1875rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 56.25);
       -moz-column-gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 56.25);
            column-gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

@supports (row-gap: clamp( 0.75rem , 0.6833333333rem  +  0.3333333333vw , 0.9375rem )) {
  .menu__list {
    row-gap: clamp( 0.75rem , 0.6833333333rem  +  0.3333333333vw , 0.9375rem );
  }
}

@supports not (row-gap: clamp( 0.75rem , 0.6833333333rem  +  0.3333333333vw , 0.9375rem )) {
  .menu__list {
    row-gap: calc(0.75rem + 0.1875 * (100vw - 20rem) / 56.25);
  }
}

.menu__link {
  position: relative;
  font-weight: 700;
  line-height: 1.1875;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@supports (font-size: clamp( 0.9375rem , 0.9152777778rem  +  0.1111111111vw , 1rem )) {
  .menu__link {
    font-size: clamp( 0.9375rem , 0.9152777778rem  +  0.1111111111vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.9152777778rem  +  0.1111111111vw , 1rem )) {
  .menu__link {
    font-size: calc(0.9375rem + 0.0625 * (100vw - 20rem) / 56.25);
  }
}

.menu__link._active {
  color: #0066FF;
}

.icon-menu {
  display: none;
}

.page__main {
  position: relative;
}

.main-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.main-page__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@supports (padding-top: clamp( 1.25rem , -0.5277777778rem  +  8.8888888889vw , 6.25rem )) {
  .main-page__container {
    padding-top: clamp( 1.25rem , -0.5277777778rem  +  8.8888888889vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.5277777778rem  +  8.8888888889vw , 6.25rem )) {
  .main-page__container {
    padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0833333333rem  +  6.6666666667vw , 5rem )) {
  .main-page__container {
    padding-bottom: clamp( 1.25rem , -0.0833333333rem  +  6.6666666667vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0833333333rem  +  6.6666666667vw , 5rem )) {
  .main-page__container {
    padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 56.25);
  }
}

@supports (gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) {
  .main-page__container {
    gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) {
  .main-page__container {
    gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

.main-page__slider {
  position: relative;
}

.main-page__slider .swiper-pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@supports (bottom: clamp( 1.25rem , 0.8055555556rem  +  2.2222222222vw , 2.5rem )) {
  .main-page__slider .swiper-pagination {
    bottom: clamp( 1.25rem , 0.8055555556rem  +  2.2222222222vw , 2.5rem );
  }
}

@supports not (bottom: clamp( 1.25rem , 0.8055555556rem  +  2.2222222222vw , 2.5rem )) {
  .main-page__slider .swiper-pagination {
    bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.25);
  }
}

.main-page__slider .swiper-pagination > span {
  position: relative;
  max-width: 7.5rem;
  width: 100%;
  height: 0.1875rem;
  background-color: #151515;
  z-index: 6;
  cursor: pointer;
}

@supports (margin-left: clamp( 1.25rem , 1.0277777778rem  +  1.1111111111vw , 1.875rem )) {
  .main-page__slider .swiper-pagination > span:not(:first-child) {
    margin-left: clamp( 1.25rem , 1.0277777778rem  +  1.1111111111vw , 1.875rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , 1.0277777778rem  +  1.1111111111vw , 1.875rem )) {
  .main-page__slider .swiper-pagination > span:not(:first-child) {
    margin-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.25);
  }
}

.main-page__slider .swiper-pagination > span.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.main-page__wrapper {
  background-color: rgba(21, 21, 21, 0.3);
}

.main-page__slide {
  height: 100vh;
}

.main-page__slide-image-block {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-page__slide-image-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.3);
}

.main-page__slide-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (padding-top: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem )) {
  .why-page {
    padding-top: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem )) {
  .why-page {
    padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem )) {
  .why-page {
    padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem )) {
  .why-page {
    padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.25);
  }
}

.why-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #151515;
}

.why-page__title {
  line-height: 1.2083333333;
  text-align: center;
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.125rem )) {
  .why-page__title {
    margin-bottom: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.125rem )) {
  .why-page__title {
    margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.25);
  }
}

@supports (font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3rem )) {
  .why-page__title {
    font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3rem )) {
  .why-page__title {
    font-size: calc(2.375rem + 0.625 * (100vw - 20rem) / 56.25);
  }
}

.why-page__block {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
  width: 100%;
}

@supports ((-moz-column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem )) or (column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem ))) {
  .why-page__block {
    -webkit-column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem );
       -moz-column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem );
            column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem )) or (column-gap: clamp( 2.1875rem , 1.8541666667rem  +  1.6666666667vw , 3.125rem ))) {
  .why-page__block {
    -webkit-column-gap: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 56.25);
       -moz-column-gap: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 56.25);
            column-gap: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

@supports (row-gap: clamp( 2.375rem , 2.1083333333rem  +  1.3333333333vw , 3.125rem )) {
  .why-page__block {
    row-gap: clamp( 2.375rem , 2.1083333333rem  +  1.3333333333vw , 3.125rem );
  }
}

@supports not (row-gap: clamp( 2.375rem , 2.1083333333rem  +  1.3333333333vw , 3.125rem )) {
  .why-page__block {
    row-gap: calc(2.375rem + 0.75 * (100vw - 20rem) / 56.25);
  }
}

.why-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@supports (gap: clamp( 1.125rem , 0.8583333333rem  +  1.3333333333vw , 1.875rem )) {
  .why-page__item {
    gap: clamp( 1.125rem , 0.8583333333rem  +  1.3333333333vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.125rem , 0.8583333333rem  +  1.3333333333vw , 1.875rem )) {
  .why-page__item {
    gap: calc(1.125rem + 0.75 * (100vw - 20rem) / 56.25);
  }
}

.why-page-item__icon-block {
  border: 0.0625rem solid #0066FF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

@supports (max-width: clamp( 5rem , 3.4444444444rem  +  7.7777777778vw , 9.375rem )) {
  .why-page-item__icon-block {
    max-width: clamp( 5rem , 3.4444444444rem  +  7.7777777778vw , 9.375rem );
  }
}

@supports not (max-width: clamp( 5rem , 3.4444444444rem  +  7.7777777778vw , 9.375rem )) {
  .why-page-item__icon-block {
    max-width: calc(5rem + 4.375 * (100vw - 20rem) / 56.25);
  }
}

@supports (height: clamp( 5rem , 3.4444444444rem  +  7.7777777778vw , 9.375rem )) {
  .why-page-item__icon-block {
    height: clamp( 5rem , 3.4444444444rem  +  7.7777777778vw , 9.375rem );
  }
}

@supports not (height: clamp( 5rem , 3.4444444444rem  +  7.7777777778vw , 9.375rem )) {
  .why-page-item__icon-block {
    height: calc(5rem + 4.375 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding: clamp( 0.875rem , 0.1861111111rem  +  3.4444444444vw , 2.8125rem )) {
  .why-page-item__icon-block {
    padding: clamp( 0.875rem , 0.1861111111rem  +  3.4444444444vw , 2.8125rem );
  }
}

@supports not (padding: clamp( 0.875rem , 0.1861111111rem  +  3.4444444444vw , 2.8125rem )) {
  .why-page-item__icon-block {
    padding: calc(0.875rem + 1.9375 * (100vw - 20rem) / 56.25);
  }
}

.why-page-item__icon {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.why-page-item__title {
  line-height: 1.45;
  text-align: center;
}

@supports (font-size: clamp( 1.25rem , 1.1611111111rem  +  0.4444444444vw , 1.5rem )) {
  .why-page-item__title {
    font-size: clamp( 1.25rem , 1.1611111111rem  +  0.4444444444vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1611111111rem  +  0.4444444444vw , 1.5rem )) {
  .why-page-item__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem )) {
  .how-work-page {
    padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.9027777778rem  +  11.1111111111vw , 9.375rem )) {
  .how-work-page {
    padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.25);
  }
}

.how-work-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-work-page__block {
  color: #151515;
  max-width: 37.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.125rem )) {
  .how-work-page__block {
    gap: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.0069444444rem  +  2.7777777778vw , 3.125rem )) {
  .how-work-page__block {
    gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.25);
  }
}

.how-work-page__title {
  line-height: 1.2083333333;
  text-align: center;
}

@supports (font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3rem )) {
  .how-work-page__title {
    font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 2.1527777778rem  +  1.1111111111vw , 3rem )) {
  .how-work-page__title {
    font-size: calc(2.375rem + 0.625 * (100vw - 20rem) / 56.25);
  }
}

.how-work-page__title.pre-title {
  line-height: 1.2083333333;
  text-align: left;
}

@supports (font-size: clamp( 1.25rem , 1.1611111111rem  +  0.4444444444vw , 1.5rem )) {
  .how-work-page__title.pre-title {
    font-size: clamp( 1.25rem , 1.1611111111rem  +  0.4444444444vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1611111111rem  +  0.4444444444vw , 1.5rem )) {
  .how-work-page__title.pre-title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.25);
  }
}

.how-work-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  counter-reset: item;
}

.how-work-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

@supports (margin-left: clamp( 1.25rem , 0.1388888889rem  +  5.5555555556vw , 4.375rem )) {
  .how-work-menu__item {
    margin-left: clamp( 1.25rem , 0.1388888889rem  +  5.5555555556vw , 4.375rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , 0.1388888889rem  +  5.5555555556vw , 4.375rem )) {
  .how-work-menu__item {
    margin-left: calc(1.25rem + 3.125 * (100vw - 20rem) / 56.25);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8055555556rem  +  2.2222222222vw , 2.5rem )) {
  .how-work-menu__item:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.8055555556rem  +  2.2222222222vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8055555556rem  +  2.2222222222vw , 2.5rem )) {
  .how-work-menu__item:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.25);
  }
}

.how-work-menu__item::before {
  content: counter(item);
  counter-increment: item;
  display: block;
  line-height: 1.2083333333;
  overflow: hidden;
  border-radius: 50%;
  background-color: #0066FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

@supports (font-size: clamp( 1.125rem , 0.4583333333rem  +  3.3333333333vw , 3rem )) {
  .how-work-menu__item::before {
    font-size: clamp( 1.125rem , 0.4583333333rem  +  3.3333333333vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.4583333333rem  +  3.3333333333vw , 3rem )) {
  .how-work-menu__item::before {
    font-size: calc(1.125rem + 1.875 * (100vw - 20rem) / 56.25);
  }
}

@supports (width: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem )) {
  .how-work-menu__item::before {
    width: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem );
  }
}

@supports not (width: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem )) {
  .how-work-menu__item::before {
    width: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.25);
  }
}

@supports (height: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem )) {
  .how-work-menu__item::before {
    height: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem );
  }
}

@supports not (height: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem )) {
  .how-work-menu__item::before {
    height: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-top: clamp( 0.75rem , 0.55rem  +  1vw , 1.3125rem )) {
  .how-work-menu__item::before {
    padding-top: clamp( 0.75rem , 0.55rem  +  1vw , 1.3125rem );
  }
}

@supports not (padding-top: clamp( 0.75rem , 0.55rem  +  1vw , 1.3125rem )) {
  .how-work-menu__item::before {
    padding-top: calc(0.75rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 0.75rem , 0.55rem  +  1vw , 1.3125rem )) {
  .how-work-menu__item::before {
    padding-bottom: clamp( 0.75rem , 0.55rem  +  1vw , 1.3125rem );
  }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.55rem  +  1vw , 1.3125rem )) {
  .how-work-menu__item::before {
    padding-bottom: calc(0.75rem + 0.5625 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-left: clamp( 0.75rem , 0.1722222222rem  +  2.8888888889vw , 2.375rem )) {
  .how-work-menu__item::before {
    padding-left: clamp( 0.75rem , 0.1722222222rem  +  2.8888888889vw , 2.375rem );
  }
}

@supports not (padding-left: clamp( 0.75rem , 0.1722222222rem  +  2.8888888889vw , 2.375rem )) {
  .how-work-menu__item::before {
    padding-left: calc(0.75rem + 1.625 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-right: clamp( 0.75rem , 0.1722222222rem  +  2.8888888889vw , 2.375rem )) {
  .how-work-menu__item::before {
    padding-right: clamp( 0.75rem , 0.1722222222rem  +  2.8888888889vw , 2.375rem );
  }
}

@supports not (padding-right: clamp( 0.75rem , 0.1722222222rem  +  2.8888888889vw , 2.375rem )) {
  .how-work-menu__item::before {
    padding-right: calc(0.75rem + 1.625 * (100vw - 20rem) / 56.25);
  }
}

.how-work-menu__text {
  max-width: 16.875rem;
}

@supports (padding-top: clamp( 0.75rem , 0.6166666667rem  +  0.6666666667vw , 1.125rem )) {
  .how-work-menu__text {
    padding-top: clamp( 0.75rem , 0.6166666667rem  +  0.6666666667vw , 1.125rem );
  }
}

@supports not (padding-top: clamp( 0.75rem , 0.6166666667rem  +  0.6666666667vw , 1.125rem )) {
  .how-work-menu__text {
    padding-top: calc(0.75rem + 0.375 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 0.75rem , 0.6166666667rem  +  0.6666666667vw , 1.125rem )) {
  .how-work-menu__text {
    padding-bottom: clamp( 0.75rem , 0.6166666667rem  +  0.6666666667vw , 1.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.6166666667rem  +  0.6666666667vw , 1.125rem )) {
  .how-work-menu__text {
    padding-bottom: calc(0.75rem + 0.375 * (100vw - 20rem) / 56.25);
  }
}

.catalog-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #151515;
}

@supports (padding-top: clamp( 3.75rem , 2.8611111111rem  +  4.4444444444vw , 6.25rem )) {
  .catalog-page__container {
    padding-top: clamp( 3.75rem , 2.8611111111rem  +  4.4444444444vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 2.8611111111rem  +  4.4444444444vw , 6.25rem )) {
  .catalog-page__container {
    padding-top: calc(3.75rem + 2.5 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 3.75rem , 1.75rem  +  10vw , 9.375rem )) {
  .catalog-page__container {
    padding-bottom: clamp( 3.75rem , 1.75rem  +  10vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 1.75rem  +  10vw , 9.375rem )) {
  .catalog-page__container {
    padding-bottom: calc(3.75rem + 5.625 * (100vw - 20rem) / 56.25);
  }
}

.catalog-page__title {
  font-weight: 700;
  text-align: center;
}

@supports (font-size: clamp( 2.625rem , 2.4916666667rem  +  0.6666666667vw , 3rem )) {
  .catalog-page__title {
    font-size: clamp( 2.625rem , 2.4916666667rem  +  0.6666666667vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 2.4916666667rem  +  0.6666666667vw , 3rem )) {
  .catalog-page__title {
    font-size: calc(2.625rem + 0.375 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4305555556rem  +  2.2222222222vw , 3.125rem )) {
  .catalog-page__title {
    padding-bottom: clamp( 1.875rem , 1.4305555556rem  +  2.2222222222vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4305555556rem  +  2.2222222222vw , 3.125rem )) {
  .catalog-page__title {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 56.25);
  }
}

.catalog-page__body {
  max-width: 53.625rem;
  width: 100%;
}

@supports (padding-bottom: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem )) {
  .catalog-page__body {
    padding-bottom: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1666666667rem  +  6.6666666667vw , 6.25rem )) {
  .catalog-page__body {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.25);
  }
}

.catalog-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 700;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem )) {
  .catalog-page__list {
    font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem )) {
  .catalog-page__list {
    font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 56.25);
  }
}

.catalog-page__item {
  cursor: pointer;
}

.catalog-page__item._active {
  color: #0066FF;
}

.catalog-page__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.0625rem solid #0066FF;
  min-height: 100%;
  height: 100%;
}

.catalog-page__item-block._hide {
  -webkit-animation: hide 0.5s ease forwards;
          animation: hide 0.5s ease forwards;
}

.catalog-page__catalog-block {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) or (column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem ))) {
  .catalog-page__catalog-block {
    -webkit-column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem );
       -moz-column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem );
            column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem )) or (column-gap: clamp( 1.5625rem , 1.2291666667rem  +  1.6666666667vw , 2.5rem ))) {
  .catalog-page__catalog-block {
    -webkit-column-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.25);
       -moz-column-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.25);
            column-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 56.25);
  }
}

@supports (row-gap: clamp( 2.1875rem , 0.7430555556rem  +  7.2222222222vw , 6.25rem )) {
  .catalog-page__catalog-block {
    row-gap: clamp( 2.1875rem , 0.7430555556rem  +  7.2222222222vw , 6.25rem );
  }
}

@supports not (row-gap: clamp( 2.1875rem , 0.7430555556rem  +  7.2222222222vw , 6.25rem )) {
  .catalog-page__catalog-block {
    row-gap: calc(2.1875rem + 4.0625 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem )) {
  .catalog-page__catalog-block {
    padding-bottom: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8333333333rem  +  3.3333333333vw , 4.375rem )) {
  .catalog-page__catalog-block {
    padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.25);
  }
}

.catalog-page__more-button {
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
  font-size: 1rem;
  line-height: 1.3;
  max-width: 13.9375rem;
  min-height: 2.9375rem;
}

@supports (padding-left: clamp( 2.5rem , 2.2333333333rem  +  1.3333333333vw , 3.25rem )) {
  .catalog-page__more-button {
    padding-left: clamp( 2.5rem , 2.2333333333rem  +  1.3333333333vw , 3.25rem );
  }
}

@supports not (padding-left: clamp( 2.5rem , 2.2333333333rem  +  1.3333333333vw , 3.25rem )) {
  .catalog-page__more-button {
    padding-left: calc(2.5rem + 0.75 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding-right: clamp( 2.5rem , 2.2333333333rem  +  1.3333333333vw , 3.25rem )) {
  .catalog-page__more-button {
    padding-right: clamp( 2.5rem , 2.2333333333rem  +  1.3333333333vw , 3.25rem );
  }
}

@supports not (padding-right: clamp( 2.5rem , 2.2333333333rem  +  1.3333333333vw , 3.25rem )) {
  .catalog-page__more-button {
    padding-right: calc(2.5rem + 0.75 * (100vw - 20rem) / 56.25);
  }
}

.catalog-item__image-block {
  border-bottom: 0.0625rem solid #0066FF;
  overflow: hidden;
  width: 100%;
}

.catalog-item__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.catalog-item__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@supports (gap: clamp( 1.125rem , 1.0805555556rem  +  0.2222222222vw , 1.25rem )) {
  .catalog-item__main-info {
    gap: clamp( 1.125rem , 1.0805555556rem  +  0.2222222222vw , 1.25rem );
  }
}

@supports not (gap: clamp( 1.125rem , 1.0805555556rem  +  0.2222222222vw , 1.25rem )) {
  .catalog-item__main-info {
    gap: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.25);
  }
}

@supports (padding: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem )) {
  .catalog-item__main-info {
    padding: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem );
  }
}

@supports not (padding: clamp( 1rem , 0.9111111111rem  +  0.4444444444vw , 1.25rem )) {
  .catalog-item__main-info {
    padding: calc(1rem + 0.25 * (100vw - 20rem) / 56.25);
  }
}

.catalog-item__car-name {
  font-weight: 700;
  line-height: 1.2083333333;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@supports (font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem )) {
  .catalog-item__car-name {
    font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem )) {
  .catalog-item__car-name {
    font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 56.25);
  }
}

.catalog-item__starting-price {
  font-size: 1rem;
  line-height: 1.3125;
}

.catalog-item__month-price {
  font-weight: 700;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem )) {
  .catalog-item__month-price {
    font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.3305555556rem  +  0.2222222222vw , 1.5rem )) {
  .catalog-item__month-price {
    font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 56.25);
  }
}

.catalog-item__more-button {
  border: none !important;
  border-top: 0.0625rem solid #0066FF !important;
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 47.99875em) {
  .button {
    max-width: 21.875rem;
  }

  .header::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    z-index: 5;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu-open .header::before {
    bottom: 0;
  }

  ._black .header::before {
    bottom: 0;
  }

  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    position: fixed;
    bottom: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FFFFFF;
    color: #151515;
    z-index: 4;
    overflow: auto;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .menu-open .menu__body {
    bottom: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

@supports (row-gap: clamp( 1.75rem , 1.2611111111rem  +  2.4444444444vw , 3.125rem )) {
    .menu__list {
      row-gap: clamp( 1.75rem , 1.2611111111rem  +  2.4444444444vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.75rem , 1.2611111111rem  +  2.4444444444vw , 3.125rem )) {
    .menu__list {
      row-gap: calc(1.75rem + 1.375 * (100vw - 20rem) / 56.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.8305555556rem  +  0.2222222222vw , 2rem )) {
    .menu__link {
      font-size: clamp( 1.875rem , 1.8305555556rem  +  0.2222222222vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.8305555556rem  +  0.2222222222vw , 2rem )) {
    .menu__link {
      font-size: calc(1.875rem + 0.125 * (100vw - 20rem) / 56.25);
    }
}

  .icon-menu {
    display: block;
    position: relative;
    width: 2.1875rem;
    height: 1.25rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.15rem;
    background-color: #FFFFFF;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-page__link {
    max-width: 12.5rem;
    padding: 0.9375rem;
    min-height: 2.5rem;
  }

@supports (font-size: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem )) {
    .main-page__link {
      font-size: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1388888889rem  +  0.5555555556vw , 1.5625rem )) {
    .main-page__link {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 56.25);
    }
}

@supports (row-gap: clamp( 3rem , 2.2888888889rem  +  3.5555555556vw , 5rem )) {
    .why-page__block {
      row-gap: clamp( 3rem , 2.2888888889rem  +  3.5555555556vw , 5rem );
    }
}

@supports not (row-gap: clamp( 3rem , 2.2888888889rem  +  3.5555555556vw , 5rem )) {
    .why-page__block {
      row-gap: calc(3rem + 2 * (100vw - 20rem) / 56.25);
    }
}

  .how-work-page__title.pre-title {
    text-align: center;
  }

  .how-work-page__text {
    text-align: center;
  }

  .how-work-menu__text {
    max-width: 25rem;
  }
}

@media (max-width: 36.31125em) {
  .why-page-item__text {
    text-align: center;
  }

  .how-work-menu__item::before {
    width: 2.5rem;
    height: 2.5rem;
  }

  .how-work-menu__text {
    max-width: 15rem;
  }
}

@media (max-width: 21.31125em) {
  .how-work-menu__text {
    max-width: 12.5rem;
  }
}

@media (max-width: 20.06125em) {
  .main-page {
    width: 20rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #030303;
  }

  .button.button-seondary:hover {
    background-color: #0066FF;
    color: #FFFFFF;
  }

  .menu__link:hover {
    color: #0066FF;
  }
}